<form action="/login" method="post" id="login_form">
	<p><input type="email" name="email" value=""/></p>
	<p><input type="password" name="email" value=""/></p>
	<p><button class="menu">Sign In</button></p>
	<p style="text-align:center;"><a href="./app">Oops! Take me back</a></p>
</form>
<script type="text/javascript">
	function gohome() {
		$.ajax({
			url: '/',
			success: function(data) {
				$('#main').html(data);
			}
		});
	}
	$('#login_form').submit(function(){
		$.ajax({
			url: '/menu',
			success: function(data) {
			$('#main').html(data);
		  }
		});
		return false;
	});
	
</script>